* {
  font: normal 12px/16px Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 18px;
  font-weight: bold;
}

h2 {
  font-size: 14px;
  font-weight: bold;
}

a {
  color: #0c6b9f;
}

a:visited {
  color: #1196de;
}

a:hover {
  color: #62c0f3;
}
