body {
  font-size: 1.0em;
  text-align: center;
}

#notfound {
  margin: 10px 10px;
  text-align: center;
  font: normal 1.0em Arial, Helvetica, sans-serif;
}

.af {
  margin-top: 12px;
}

.af a {
  font-size: 1.8em;
  color: #33d;
}

.af a:visited {
  color: #33d;
}
